body {
    background-image:url("/cheetah.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

td {
    padding: 10px 15px;
    width: 30%;
}

    td.WinkelwagenCell {
        width: 20%;
    }

div.panel {
    margin-bottom: 0px;
}


.list-group {
    max-height: 300px;
    overflow-y: scroll;
}

td.WenslijstCell {
    width: 33%;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}
